<h1>Public ideas of all users</h1>
<ul>
  <li *ngFor="let idea of public_ideas">
    <h3>{{idea.title}}</h3>
    <p>owner: {{idea.owner}}</p>
    <p>details: {{idea.details}}</p>
    <p *ngIf=showTitle(idea.keywords)>Tags:</p>
    <ul>
      <li *ngFor="let tag of idea.keywords">
        {{tag}} {{tag.length}}
      </li>
    </ul>
    <p *ngIf = "showTitle(idea.links)">Links:</p>
    <ul>
      <li *ngFor="let link of idea.links">
        {{link}}
      </li>
    </ul>
    <p>Number of likes: {{idea.likes}} <button *ngIf = "showButton(idea.viewers_own,idea.liked_by)" (click)="addLike(idea._id)">Add like</button></p>
    <button (click) = "toggleComments()">{{show_comments == true? 'Hide comments': 'Show comments'}}</button>
    <p *ngIf = "showComments(idea.comments)">Comments</p>
    <ul *ngIf = "showComments(idea.comments)">
      <li *ngFor = "let comment of idea.comments">
        <p>From {{comment.commenter_name}} at {{comment.comment_time}}</p>
        <p>{{comment.comment_text}}</p>
      </li>
    </ul>
    <br>
    <button (click) = "showAddComment()">Add comment</button>
    <div *ngIf = "show_add_comment">
      <input type="text" [(ngModel)] = "comment_text">
      <button (click) = "addComment(idea._id)">Add comment</button>
    </div>
  </li>
</ul>
<br>
<button (click)="goToIdeas()">View own ideas</button><br>
<button (click)="logout()">logout</button>
